@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-header-menu {
    display: flex;
}
#menu-header-menu li{
    margin-left: 15px;
}
h1 {
    text-align: center;
}
.accordion .label {
    cursor: pointer;
    display: flex;
}
.accordion .label::after {
    content:'\02C7';
    font-size: 30px;
    right: 90px;
    position: absolute;
}
.accordion .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.accordion hr {
    width: 100%;
    margin-left: 0;
    border: 1px solid grey;
}
.accordion .accordion-container.active .content {
    height: 150px;
}
.accordion .accordion-container.active .label::after {
    content: '\02C6';
    font-size: 30px;
    right: 90px;
    position: absolute;
}
.swiper-slide {
    text-align: center !important;
    align-items:center !important;
    justify-content:center !important;
    height: auto !important;
    border: black;
}
.swiper-slide img {
    width: 100%;
}
.swiper-pagination-bullet {
    color: black !important;
    font-size: 20px !important;
    width: 36px !important;
    height: auto !important;
    opacity: 1 !important;
    background: none !important;
    border-width: 3px !important;
    border-color: black !important;
    cursor: pointer !important;
    text-align: center !important;
}
.swiper-pagination-bullet-active{
    background: black !important;
    color: white !important;
}
.swiper-pagination{
    text-align: left !important;
    left: 10px !important;
}
.swiper-pagination-bullets{
    bottom: 30px !important;
}
.vinyls:hover .plate{
   margin-left: 0;
}
footer .widget-title{
    @apply text-lg uppercase font-bold lg:my-7 my-3
}
footer ul{
    @apply mb-6 mr-9
}
footer li{
    @apply my-2
}
@media (min-width: 200px) {
    #menu-header-menu{
        @apply hidden
    }
    #menu-header-menu.open{
        @apply block font-bold text-3xl uppercase border-y-2 border-black
    }
    #menu-header-menu li{
        @apply my-3
    }
    .menu-header-menu-container{
        @apply w-full
    }
}

@media (min-width: 1064px) {
    .swiper-pagination{
        left: 40px !important;
    }
    #menu-header-menu{
        @apply flex font-bold text-base uppercase font-bold
    }
}
